:root {
  --input-output-line-height: 18px;
}

@font-face {
  font-family: BQN386;
  src: url('../assets/BQN386.ttf'); /* Taken from https://dzaima.github.io/BQN386/BQN386.ttf */
}
body, .input, .button, .log {
  font-family: BQN386;
}
h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: calc(100vw - 32px);
  height: calc(100vh - 48px);
  margin: 0 auto;
}
.app {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 450px;
  padding: 32px 16px 0;
  width: 100%;
}
.help {
  min-width: 300px;
  flex: 4;
  margin-right: 16px;
  padding: 32px;
  background-color: #f4f0d6;
  overflow-x: auto;
  overflow-y: scroll;
}

.help-title {
  color: #999;
  font-size: 20px;
  padding-bottom: 20px;
}
.help-name,
.help-char {
  color: #000;
}
.help-completions {
  background: #fcfcfc;
  padding: 16px;
  margin: -8px -8px 16px 24px;
  float: right;
  box-shadow: -8px 0 0 0 #f4f0d6, 8px 0 0 0 #f4f0d6, 0 2px 4px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
}
.help-completions-title {
  font-size: 18px;
  padding-bottom: 12px;
}
.help-completions-list {
  list-style: none;
}
.help-completion {
  padding-left: 24px;
  line-height: 1.5;
}
.help-completion-tab-chars {
  letter-spacing: 1ch;
}
.help-completion-backquote-backquote {
  margin-right: 1ch;
}

.help-completion-tab-tab, 
.help-completion-backquote-backquote {
  color: #ca4343;
}

.help-description {
  padding-bottom: 24px;
}

.help-description-category {
  color: #6f6c59;
  padding-top: 32px;
}
.help-description-heading {
  font-size: 18px;
  margin: 32px 0 16px;
  padding-bottom: 4px;
  border-bottom: 2px solid #e3dfc1;

}
.help-description-category:first-child,
.help-description-heading:first-child {
  padding-top: 0;
  margin-top: 0;
}
.help-description-category + .help-description-heading {
  margin-top: 0;
}

.help-description-example {
  padding-top: 16px;
}

.help-description-code-comment,
.help-description-input {
  margin-left: 6ch;
}

.help-description-category,
.help-description-heading,
.help-description-plain,
.help-description-code-comment,
.help-description-input,
.help-description-output {
  white-space: pre-wrap;
}

.help-description-plain,
.help-description-code-comment,
.help-description-input,
.help-description-output {
  line-height: var(--input-output-line-height);
}

.help-description-plain,
.help-description-code-comment {
  padding-top: 16px;
}

.help-description-code-comment {
  color: #666;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 5;
  min-width: 450px;
}
.hint {
  padding-top: 16px;
  color: #666;
}
.example-expressions {
  padding-top: 16px;
  padding-left: 32px;
}
.example-expression {
  padding-left: 16px;
  line-height: 1.5;
}
.example-expression:hover {
  color: #000;
}
.input-row {
  display: flex;
}
.input {
  flex: 1;
}
.log {
  flex: 1;
  background-color: #eee;
  overflow-y: scroll;
  margin: 16px 0 0;
  padding: 16px;
  line-height: var(--input-output-line-height);
}
.expr {
  padding-bottom: var(--input-output-line-height);
}

.help-description-example:hover .help-description-input,
.expr:hover .input {
   text-shadow: 0.5px 0px rgba(0,0,0,0.25), -0.5px 0px rgba(0,0,0,0.25);
}

.help-description-example:hover .help-description-output,
.expr:hover .output {
  color: #666;
}
