@font-face {
  font-family: BQN386;
  src: url('../assets/BQN386.ttf'); /* Taken from https://dzaima.github.io/BQN386/BQN386.ttf */
}
body, .input, .button, .log {
  font-family: BQN386;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}
.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 450px;
  max-width: calc(100vw - 16px);
}
.hint {
  padding-top: 16px;
  color: #666;
}
.example-expression:hover {
  color: #000;
}
.input-row {
  display: flex;
}
.input {
  flex: 1;
}
.log {
  height: 300px;
  max-width: calc(100vw - 16px);
  background-color: #eee;
  overflow-y: scroll;
  resize: both;
  padding-top: 16px;
  --line-height: 16px;
  line-height: var(--line-height);
}
.expr {
  padding-bottom: var(--line-height);
}
.expr:hover .input {
   text-shadow: 0.5px 0px rgba(0,0,0,0.5),-0.5px 0px rgba(0,0,0,0.5);
}
.expr:hover .output {
  color: #666;
}
